:root{
    --bs-font-sans-serif: 'Poppins';
    --headings-font-family: 'Playfair';
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--headings-font-family) ;
}
.banner{
    background-image: url('../images/banner/bg1.webp');
    background-size: cover;
    background-position: right right;
    background-repeat: no-repeat;
    height: 480px;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}
.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0);
background: linear-gradient(72deg, rgba(0,0,0,0.5963177507331057) 0%, rgba(0,0,0,0.7307715322457108) 100%);
}
.service-card {
    transition: all 0.3s ease-in-out;
}
.service-card:hover {
    background-color: #f8f9fa;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    color: #000;
}
.service-card i {
    transition: color 0.3s;
}
.service-card:hover i {
    color: #ff8800;
}
.testimonial{
    position: relative;
}
.comma-st{
    z-index: 1;
    top: 70px;
    font-size: 55px;
    color: #ff9a00;
    position: absolute;
}
.comma-end{
    z-index: 1;
    top: 90%;
    left: 92%;
    font-size: 55px;
    color: #ff9a00;
    position: absolute;
}
.testimonial-card {
    transition: all 0.3s;
}
.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgb(255, 154, 13);
}
.testimonial-card .card-img-top {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
    margin-top: -50px;
}
