:root{
    --bs-font-sans-serif: 'Poppins';
    --headings-font-family: 'Playfair';
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--headings-font-family) ;
}
.banner{
    background-image: url('../images/banner/bg-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}
.contact-form input,.contact-form textarea{
    font-size: 16px;
}
.pt-200{
    padding-top: 200px;
}
.contact-form {
    background-color: rgba(var(--bs-body-bg-rgb), 0.3);
    backdrop-filter: blur(50px);
}
.contact-form .form-control:focus {
    box-shadow: none;
}
.contact-form .form-control::placeholder {
    color: black;
    font-size: 16px;
}
.card-img{
    background-image: url('../images/banner/img-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    object-fit: cover;
}
.card-img1{
    background-image: url('../images/banner/img-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    object-fit: cover;
}
.card-img2{
    background-image: url('../images/banner/img-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    object-fit: cover;
}
.card-img3{
    background-image: url('../images/banner/img-4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    object-fit: cover;
}   
.card-img4{
    background-image: url('../images/banner/img-5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    object-fit: cover;
}