h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display';
}
p{
    font-family: 'Poppins';
}
.carousel-item img{
    height:700px;
    width:100%;
    object-fit:fill;
}
.carousel-item video{
    height:400px;
    width: 100%;
    object-fit: fill;
}
.carousel-caption a{
    margin-bottom:3%;
}
.card{
    border: 0;
    position: relative;
    overflow: hidden;
}
.card img{
    width:320px;
    border-radius: 1.5rem;
}
.card-body{
    width:280px;
    background-color: white;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius:1rem;
    position: absolute;
    bottom: -100px;
    left:20px;
    opacity:0;
    transition: opacity 1s 1s;
}
.card:hover .card-body{
    animation:show-data 1s forwards;
    opacity:1;
    transition: opacity .3s;
}
.card:hover{
    animation: remove-overflow 2s forwards;
}
.card:not(:hover){
    animation: show-overflow 1s forwards;
}
.card:not(:hover) .card-body{
    animation: remove-data 1s forwards;
}
@keyframes show-data{
    50%{
        transform: translateY(-7rem);
    }
    100%{
        transform: translateY(-5rem);
    }
}
@keyframes remove-overflow{
    to{
        overflow:initial
    }
}
@keyframes remove-data{
    0%{
        transform: translateY(-5rem);
    }
    50%{
        transform: translateY(-7rem);
    }
   100%{
        transform: translateY(1rem);
    }
}
.Team h2{
    font-family:'Poppins';
    padding-bottom:25px;
    padding-top: 25px;
}
 .carousel-item .review-img{
    width:200px;
    height:200px;
    margin-left: 30%;
}
.Importance{
    margin-top:150px !important;
}
.heading{
    width: 350px;
    height:350px;
    margin-top: 15%;
    padding-top:30%;
    font-family: 'Playfair Display';
}

